:root {
    --primario: #9C27B0;
    --primarioOscuro: #89119D;
    --secundario: #FFCE00;
    --secundarioOscuro: rgb(233,187,2);
    --blanco: #FFF;
    --gris: #303030;

    --fuentePrincipal: 'Staatliches', cursive;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /*Esto nos permite agregar que 1rem sea igual a 10px*/
}

  *, *:before, *:after {
    box-sizing: inherit;
}

/*Globales*/
body {
    background-color: var(--primario);
    font-size: 1.6rem; /*Tamaño de la letra*/
    line-height: 1.5; /*Interlineado*/
}

p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}

a {
    text-decoration: none; /*Quitar el interlineado que traen los enlaces*/
}

img {
    max-width: 100%; /*Ancho*/
}

.contenedor{
    max-width: 120rem; /*Ancho máximo*/
    margin: 0 auto; /*Centrar los elementos*/
}

h1, h2, h3 {
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuentePrincipal);
}

h1 {
    font-size: 4rem; /*Tamaño de fuente*/
}
h2 {
    font-size: 3.2rem;
}
h3 {
    font-size: 2.4rem;
}

/*Header*/
.header {
    display: flex;
    justify-content: center;
}
.header__logo {
    margin: 3rem 0; /*El primer valor es el margen de arriba y abajo juntos y el siguiente es izquierda y derecha*/
}
/*Footer*/
.footer {
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    margin-top: 2rem; /*Separación del elemento de arriba*/
}
.footer__texto {
    text-align: center;
    font-family: var(--fuentePrincipal);
    font-size: 2.2rem;
}

/*Navegación*/
.navegacion {
    background-color: var(--primarioOscuro);
    padding: 1rem 0; /*El primer valor es el margen de arriba y abajo juntos y el siguiente es izquierda y derecha*/
    display: flex; /*Usamos flexbox para elementos dentro de otro contenedor*/
    justify-content: center; 
    gap: 2rem; /*Separación nueva entre elementos en flexbox*/
}
.navegacion__enlace {
    font-family: var(--fuentePrincipal);
    color: var(--blanco);
    font-size: 3rem;
    /*margin-right: Esta es una forma anterior al gap que ayudaba a centrar 2rem; */
}
/*.navegacion__enlace:last-of-type{ Se usa para centrar de la mejor manera los elementos y que al último elemento no le de el
    margen que hace que no se vea centrado. Esta es una forma anterior al gap que ayudaba a centrar
    margin-right: 0;
}*/
.navegacion__enlace--activo, /*Agrego este para que quede seleccionado cuando esté en la pagina de inicio. Va a usar el mismo color*/
.navegacion__enlace:hover { /*Hover se usa para los efectos de pasar el mouse sobre un enlace*/
    color: var(--secundario);
}

/*Grid*/
.grid {
    display: grid; /*Activar CSSGrid*/
    grid-template-columns: repeat(2, 1fr); /*Me da dos columnas divididas cada una en 1 fracción*/
    /*
    column-gap: 2rem; con esto puedo separar hacia los lados
    row-gap: 2rem; con esto puedo serparar hacia abajo
    */
    gap: 2rem; /*Esto me separa a los lados y abajo, menos código*/
}
@media (min-width: 768px) { /*Cuando sobrepasa los 768px me muestra las 3 columnas y anula el mostrar 2 columnas*/
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

/*Productos*/
.producto {
    background-color: var(--primarioOscuro);
    padding: 1rem;
}
.producto__imagen {
    width: 100%; /*Toma todo el ancho disponible*/ 
}
.producto__nombre {
    font-size: 4rem;
}
.producto__precio {
    font-size: 2.8rem;
    color: var(--secundario);
}
.producto__nombre,
.producto__precio {
    font-family: var(--fuentePrincipal);
    margin: 1rem 0; /*Para que el margen de separación solo sea de 10px arriba y abajo y de 0 a los lados*/
    text-align: center;
    line-height: 1.2;
}

/*Graficos*/
.grafico {
    /*En dispositivos moviles no va a tomar bien las posiciones que le de debido a que sobrepasa el limite que puede mostrar*/
    min-height: 30rem; /*Altura mínima para ambos graficos*/
    background-repeat: no-repeat; /*Para que no se repita la imagen*/
    background-size: cover; /*Para que la imagen tome todo el espacio disponible*/
}
.grafico--camisas {
    grid-row: 2 / 3; /*Le digo que posicione este modificador entre las filas 2 y 3*/
    grid-column: 1 / 3; /*Le digo que posicione este modificador entre las columnas 1 y 3*/
    background-image: url(../img/grafico1.jpg); /*Inserto una imagen porque esta solo es decoración*/
}
.grafico--nodeJs {
    background-image: url(../img/grafico2.jpg);
    grid-column: 1 / 3; /*Como la imagen solo coge una columna le digo que vaya de la columna 1 a la 3*/
    grid-row: 8 / 9; 
}
@media (min-width: 768px) { 
    .grafico--nodeJs {
        grid-row: 5 / 6;
        grid-column: 2 / 4;
    }
}

/*Nosotros*/
.nosotros {
    display: grid; /*Este grid siempre va a aplicar a todo el diseño que tenga nosotros*/
    grid-template-rows: repeat(2, auto); /*Esto para posicionar la imagen y el texto entre las filas que yo quiera*/
}
@media (min-width: 768px) { 
    .nosotros {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem; /*Separación entre columnas osea derecha e izquierda*/
    }
}
.nosotros__imagen {
    grid-row: 1 / 2;
    width: 100%; /*Para que tome el tamaño automaticamente*/
}
@media (min-width: 768px) { 
    .nosotros__imagen{
        grid-column: 2 / 3;
    }
}